server:
  port: 8084

spring:
  application:
    name: consumer

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://119.45.50.7:8081/eureka,http://119.45.50.7:8082/eureka

feign:
  hystrix:
    enabled: true # 开启熔断机制
